body
{
	background-color: #00A362;
	font-size:	150%;
	color: white;
	font-family: arial;
	text-shadow: 2px 2px 4px #000000;
	background-image: url('congruent_pentagon.png');
}
	a:link 
	{
		color:blue;
	}
	a:visited
	{
	color: red;
	}
	a:hover
	{
	color: pink;
	}
